<div class="container">
    <div class="row">
        <div class="col-xs-12">            
            <h3></h3>
            <img src="//api-maps.yandex.ru/services/constructor/1.0/static/?sid=p4GGwB-AB6hhpzLYRQmAdynlRigqlR0g&width=600&height=450" alt=""/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <img class="img-responsive" src="/images/contact/nalog.jpg" alt=""/>
        </div>
        <div class="col-xs-6">
            <img class="img-responsive" src="/images/contact/reestr.jpg" alt=""/>
        </div>
    </div>
    
</div>