<div class="container">
	<div class="row text-center"><div class="col-xs-12"><h1>Каталог платьев</h1></div></div>              
    <div class="row">           
        <div class="col-md-3 col-sm-3 col-sm-push-9 sidemenu">
            <h4>Здесь отображаются выбранные фильтры.</h4>
            <div class="col-xs-12">                                        
                <div ng-repeat="cf in categories_filter">  
                    <a class="btn btn-default cat-set-button col-xs-12" ng-click="delfiltercatprod(cf.id_category)" >{{cf.name}} <i class="glyphicon glyphicon-remove"></i></a>
                </div>                        
                <div ng-repeat="sf in sizes_filter">
                    <a class="btn btn-default sizes-set-button" ng-click="delfiltersizeprod(sf.id_size)" >{{sf.size_name}} <i class="glyphicon glyphicon-remove"></i></a>
                </div>
                <div ng-repeat="colf in colors_filter">
                    <a class="btn btn-default color-set-button" ng-click="delfiltercolorprod(colf.id_color)" ng-style="{'border-color':colf.color_code}" >{{colf.color_name}} <i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </div>  
			<h4>При выборе любого фильтра, каталог обновляется автоматически</h4>
            <!--<a class="btn btn-default" href="#product_24" target="_self"></a>
            <a class="btn btn-default" ng-click = "goToAnchor()"></a>-->
            <div class="row">                        
                <div class="col-xs-12">
                    <h4>Категории</h4>                            
                    <div class="">
                        <div ng-repeat="c in categories | orderBy : 'name'">
                            <a class="btn btn-default cat-set-button col-xs-12" ng-click="setfiltercatprod(c.id_category)">{{c.name}}</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <h4>Цена</h4>
                    <p>{{price}}</p>
                    <md-slider flex min="{{minPrice}}" max="{{maxPrice}}" step="100" ng-model="price" aria-label="red" id="red-slider" class="md-warn" ng-click="fixPrice(price)"></md-slider>
                </div>
                <div class="col-xs-12">
                    <h4>Размеры</h4>
                    <div class="">            
                        <div ng-repeat="sz in sizes | orderBy : 'size_name'">
                            <a class="btn btn-default sizes-set-button" ng-click="setfiltersizeprod(sz.id_size)">{{sz.size_name}}</a>
                        </div>
                    </div>                            
                </div>
                <div class="col-xs-12">
                    <h4>Цвета</h4>
                    <div class="">
                        <div ng-repeat="cl in colors | orderBy : 'color_name'">
                            <a class="btn btn-default color-set-button" ng-style="{'border-color':cl.color_code}" ng-click="setfiltercolorprod(cl.id_color)">{{cl.color_name}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        <div class="col-md-9 col-sm-9 col-sm-pull-3 productslist">
            <div class="row text-center"><h1>{{categories_filter[0].name}}</h1></div>
            <div ng-repeat="p in products | orderBy: '-id_product'">
                <div class="col-md-4 col-sm-6 col-xs-12 singleproduct" ng-if="p.price <= price">
                    <div id="product_{{p.id_product}}"></div>
                    <a class="product-miniature" ng-click="fixPrice(price)" href="/#!/page/{{p.id_product}}">
                        <img src="/img/thumbnail/{{p.file_name}}" class="img-responsive img-rounded list-img-thumbnail col-xs-12">
                    </a>
                    <span class="col-xs-12 text-center">Цена: {{p.price}} руб.</span>
                        <!--<a class="btn btn-info btn-xs product-view" href="/#!/page/{{p.id_product}}">Смотреть</a>-->
                </div>
            </div>                                           
        </div>
    </div>
</div>