<div class="container">
    <md-button ng-click="go('/#!/list')" class="md-fab md-primary back-fixed-button" aria-label="Time">
        <md-tooltip>
          Вернуться к списку платьев
        </md-tooltip>
        <md-icon icon="images/icons/reply18.png" style="width: 24px; height: 24px;">
        </md-button>
    <div class="row productpage">
        <!--<a href="/#!/list" class="col-xs-12 btn btn-info"><i class="glyphicon glyphicon-chevron-left"></i>     Вернуться к списку платьев</a>-->
        
        <div class="col-xs-12 productpage-text">            
            <h1>{{single_product.name}}</h1>
            <div class="row">
                <div class="col-xs-12 text-center">
                        <h2>Цена: {{single_product.price}} руб</h2>                                        
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h3 ng-bind-html="sce.trustAsHtml(single_product.description)"></h3>
                </div>
            </div>
            <!--<a class="col-xs-8 col-xs-offset-2 btn btn-warning btn-lg btn-buy-now">Купить сейчас</a>
            <a class="col-xs-8 col-xs-offset-2 btn btn-default btn-xs">Поместить в корзину</a>-->            
        </div>
        <div class="col-xs-12 productpage-foto">
                <!--<div class="row product-foto-main">
                    <?php
                    $files = $model->getImage($model->id_product);                    
                    $filename = $files[0];
                    ?>
                    <img src="<?php echo (yii\helpers\Url::to('@web/img/'.$filename['file_name'], true)); ?>" class="img-responsive" >
                </div>-->
                <div class="col-sm-8 product-foto-main">
                    <img src="/img/{{single_product_image_main.file_name}}" class="img-responsive img-rounded">
                </div>
                <div class="col-sm-4">
                    <div ng-repeat="pp in single_product_images">
                        <div class="col-xs-6 col-sm-12 thumbnail-btn">
                            <img src="/img/thumbnail/{{pp.file_name}}" class="btn img-responsive img-rounded" ng-click="setmainpictures(pp.id_picture)">
                        </div>
                    </div>
                </div>
        </div>
        
    </div>    
</div>
